@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.1rem;
  background-color: #F7F5F7;
  color: #333333;
}

.navbar-brand img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.navbar {
  background-color: #F7F5F7;
  font-family: "Open Sans", sans-serif;
}

/*----------------------------------------*/
.title {
  width: 60%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1em;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 1rem;
  -webkit-text-stroke: 1px #00874e;
  background: url("./images/img-pattern11.png");
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-position: 0 0;
  -webkit-animation: animate 45s linear 1s infinite alternate;
          animation: animate 45s linear 1s infinite alternate;
}

@-webkit-keyframes animate {
  100% {
    background-position: -600px 0;
  }
}

@keyframes animate {
  100% {
    background-position: -600px 0;
  }
}
/*----------------------------------------*/
h1, h2, h3 {
  font-family: "Roboto", sans-serif;
}

p {
  color: #333333;
}

hr {
  color: #fc833c;
}

a {
  text-decoration: none;
}

.btnLogo-disable {
  cursor: default;
  cursor: none !important;
  pointer-events: none !important;
  text-decoration: underline;
}

.slogan {
  text-align: center;
  font-size: 0.8rem;
}
.slogan strong {
  color: #fc833c;
}

/*-----------------Corps de la page-------------------------------------*/
.w-100 {
  width: 100% !important;
  height: 75vh;
}

.liste {
  display: flex;
  justify-content: space-between;
  padding-left: 1px;
  color: #00874e;
  font-size: 1rem;
}

.liste__elem {
  list-style-type: none;
  font-size: 1rem;
}

.liste__elem a {
  text-decoration: none;
  color: #3498db;
}
.liste__elem a:hover {
  border-bottom: 1px solid #00874e;
  opacity: 0.8;
  transition: all 0.3s;
  cursor: pointer;
}

.paraListe {
  color: #333333;
  cursor: pointer;
  display: inline-block;
  margin: 0.5rem;
  padding-left: 0.5rem;
}

.nav-item .btn-success, .nav-item .btn-link {
  background-color: #00874e;
}

.row__title {
  font-size: 1.3rem;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.para i {
  margin: auto 1rem auto 0;
  color: #00874e;
}

.text-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.img-wifi {
  width: 100px;
}

.icon-video {
  color: #00874e;
  padding: 1rem;
}

.img-card {
  width: 100px;
  float: right;
}

.card-comments {
  background-color: #2c3e50;
  color: #F7F5F7;
}
.card-comments .card__commentaires {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.card-comments p {
  color: #F7F5F7;
}

.card-img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.card-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #2c3e50;
  gap: 20px;
  z-index: 5;
}

.btn-link {
  text-decoration: none;
  color: #00874e;
  padding: 1rem;
}
.btn-link:hover {
  color: #F7F5F7 !important;
}

.btn-text {
  font-size: 15px;
}

.commentaires {
  display: none;
}

/*------------------------------------------------*/
/*------------------Media query page details----------*/
@media screen and (max-width: 992px) {
  .card__social {
    display: none;
  }
  .commentaires {
    display: none;
  }
}
.nav-link__item {
  color: #00874e;
  padding: 3px;
  background-color: #F7F5F7;
  font-weight: 600;
  font-size: 16px;
}

.nav-link__item2 {
  color: #F7F5F7;
  font-size: 16px;
}

.nav-link {
  position: relative;
  font-size: 16px;
}
.nav-link:hover {
  color: #00874e;
}
.nav-link:after {
  content: "";
  position: absolute;
  background-color: #00874e;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.nav-link:hover:after {
  width: 100%;
}

/*-------------------Formulaire réservation------------------- */
#sec1 {
  position: relative;
}
#sec1 iframe {
  width: 100%;
  margin-top: 1rem;
}

#form {
  position: absolute;
  left: 35%;
  top: 10%;
  background-color: #F7F5F7;
  z-index: 10;
  border: 1px solid #00874e;
}

.form__title {
  text-align: center;
  color: #2C3E50;
  font-weight: bold;
}

.form__input-control {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 0 2rem;
}

.form__input-control input {
  border: 1px solid #2C3E50;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  color: #2C3E50;
}

textarea {
  width: 100%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  resize: none;
}

label {
  display: none;
}

.form__input-control input:focus, textarea:focus {
  outline: 0;
}

.form__input-control.success input {
  border-color: #00874e;
}

.form__input-control.success textarea {
  border-color: #00874e;
}

.form__input-control.error input {
  border-color: #D13C31;
}

.form__input-control.error textarea {
  border-color: #D13C31;
}

.form__input-control .errorMessage {
  color: #D13C31;
  font-size: 10px;
  height: 15px;
  margin-left: 1rem;
}

.info-lettre {
  display: block !important;
}

#submit {
  margin: 0.5rem 25% 1rem 25%;
  padding: 0.5rem 20%;
  color: #F7F5F7;
  background-color: #00874e;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
  font-size: 1rem;
}
#submit:hover {
  color: #F7F5F7;
  background-color: #00874e;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  box-shadow: 2px 3px 15px #00874e;
  transform: translateY(-5px);
}

@media screen and (max-width: 992px) {
  #form {
    position: absolute;
    display: inline-block;
    left: 25%;
    top: 12%;
    width: 60%;
    background-color: #F7F5F7;
    z-index: 10;
    border: 1px solid #00874e;
    text-align: left;
  }
  iframe {
    width: 100%;
  }
  .form__manage {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 850px) {
  #form {
    position: absolute;
    display: inline-block;
    left: 25%;
    top: 5%;
    width: 50%;
    background-color: #F7F5F7;
    z-index: 10;
    border: 1px solid #00874e;
    text-align: left;
  }
  iframe {
    width: 100%;
  }
  .form__manage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form__manage #messageTextInput {
    width: 100%;
  }
  .form__title {
    font-size: 1rem;
    font-weight: bold;
  }
}
.row__info {
  text-align: center;
  background-color: #F7F5F7;
}
.row__info p {
  color: #2C3E50;
}
.row__info p a {
  color: #2C3E50;
}
.row__info p a:hover {
  color: #00874e;
}
.row__info p i {
  color: #fc833c;
}

/*-----------------Page Détails--------------------*/
.sec-sous-menu {
  display: none;
}

.navbar-liste a:hover {
  color: #fc833c;
}
.navbar-liste a::after {
  background-color: #fc833c;
}

.table__para {
  font-weight: 200;
}

.table__text {
  background-color: #fed3ba !important;
  color: #fc833c !important;
  text-align: center;
  vertical-align: middle;
}

.card__content {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.card__content h2 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.card__social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}
.card__social i {
  color: #fc833c;
  margin-left: 10px;
}

table {
  font-size: 12px;
}
table i {
  color: #fc833c;
}

.card-body {
  padding: 0 !important;
}

/*-------------------Media queries--------------------------------*/
@media screen and (max-width: 768px) {
  .card__social {
    margin: 0 5px;
    font-size: 10px;
  }
  .card__social span i {
    font-size: 8px;
  }
  table tr td {
    font-size: 10px;
    padding: 8px;
  }
}
.card__item {
  color: #F7F5F7;
  background-color: #00874e;
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 8px;
}

.card__item2 {
  color: #F7F5F7;
  background-color: #fc833c;
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 8px;
}

.sec-title {
  display: none;
}

.sec-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent), url("../images/img-coworker19.png") center center no-repeat;
  color: #F7F5F7;
  background-size: cover;
}

button.btn {
  color: #00874e;
  font-size: 1rem;
  background-color: #F7F5F7;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  transition: all 0.4s ease-in-out;
}
button.btn:hover {
  background-color: #00874e;
  color: #F7F5F7;
}

#section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.form-wrapper .card {
  width: 50%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.35);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  margin-right: 1rem;
}

.card.show {
  visibility: visible;
  opacity: 1;
}

.card-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 5px 0;
  font-size: 1rem;
  color: #00874e;
  box-shadow: 2px 3x 8px #2c3e50;
  border-radius: 50px;
  padding: 2rem;
}

.card-header .form-header {
  flex: 50%;
  text-align: center;
  padding: 8px 0;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.card-header .form-header.active {
  box-shadow: inset 1px 1px 2px rgba(19, 210, 177, 0.55), inset -1px 1px 2px rgba(19, 210, 177, 0.55), inset -1px -1px 2px rgba(19, 210, 177, 0.55), inset 1px -1px 2px rgba(19, 210, 177, 0.55);
  border-color: #00d47a;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.card-body {
  display: flex;
  flex-wrap: nowrap;
  padding: 40px 0;
  text-align: center;
}

form {
  flex: 0 0 100%;
  margin: 1rem;
}

.toggleForm {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.form-control::-moz-placeholder {
  color: #fc833c;
}

.form-control::placeholder {
  color: #fc833c;
}

.formButton {
  border: 1px solid transparent;
  padding: 1rem 3rem;
  background-color: #00d47a;
  border-radius: 50px;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.formButton:hover {
  box-shadow: 3px 5px 15px #00d47a;
  transform: translateY(-5px);
  color: #F7F5F7;
}

.form__input-control {
  margin: 0 3rem 0 1rem;
}

.form__input-control input:focus {
  outline: 0;
  color: #3498db;
}

.form__input-control.success input {
  border-color: #00874e;
}

.form__input-control.error input {
  border-color: #D13C31;
}

.form__input-control .errorMessage {
  color: #D13C31;
  font-size: 10px;
  height: 15px;
  margin: 0 auto;
}

/* ---------------------Media query------------------------------*/
@media screen and (max-width: 767px) {
  #forLogin, #forRegister {
    font-size: 14px;
    padding: 1rem;
  }
  .formButton {
    margin-right: 2.5rem;
  }
}
.confirmation-title {
  display: none;
}

.confirmation-message {
  color: #00874e;
  text-align: center;
  border: 3px solid #00874e;
  width: 50%;
  margin: 1rem auto;
  height: 50px;
  padding: 50px;
  border-radius: 20px/50px;
  -webkit-animation: clignote 5s linear infinite;
          animation: clignote 5s linear infinite;
}
@-webkit-keyframes clignote {
  50% {
    opacity: 0.3;
  }
}
@keyframes clignote {
  50% {
    opacity: 0.3;
  }
}

/*------------------Pieds de page-----------------------------*/
.footer {
  background-color: #2C3E50;
}
.footer .nav-link {
  color: #F7F5F7;
}
.footer .footer__identite {
  color: #F7F5F7;
  padding: 1rem;
  margin: 0.7rem;
  font-size: 0.8rem;
}
.footer .footer__para {
  color: #F7F5F7;
  padding: 1rem;
  margin: 0.7rem 0 0.7 0;
  font-size: 0.8rem;
}
.footer .infos {
  display: flex;
  justify-content: space-between;
}
.footer .social-network {
  justify-content: space-between;
}
.footer .social-network i {
  color: #F7F5F7;
  padding: 0.5rem;
  margin: 0.3rem 0.3rem 0 0.3rem;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.footer .social-network i:hover {
  color: #00874e;
  background-color: #F7F5F7;
  margin: 0.3rem 0.3rem 0 0.3rem;
  border-radius: 20%;
  padding: 0.5rem;
  opacity: 1.02;
}
/*# sourceMappingURL=style.css.map */