@use "variables";
@use "general";
/*-----------------Page Détails--------------------*/

.sec-sous-menu{
  display:none;

}


.navbar-liste a{
    // @extend .nav-link;
    &:hover{
      color: variables.$color-orange;
    }
  
    &::after{
      background-color: variables.$color-orange;
    }
    
  }
  
  .table__para{
    font-weight: 200;
  }
  
  .table__text {
    background-color: variables.$color-orange-lighten !important;
    color: variables.$color-orange!important;
    text-align:center;
    vertical-align: middle;
  }
  
  .card__content{
    padding-left: 1rem;
    padding-right: 0.5rem;
  
    h2{
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
    }
    
  }
  
  .card__social{
    // margin: 0 auto;
  display:flex;
  justify-content:space-around;
  align-items:center;
  font-size: 12px;
  i{
    color: variables.$color-orange;
    margin-left: 10px;


  }
  
  }

  table {
    font-size: 12px;
    i{

      color: variables.$color-orange;
   
    }
  }

  
  

  .card-body{
    padding: 0!important;
  }


  /*-------------------Media queries--------------------------------*/

    
  
  @media screen and (max-width: 768px) {
    .card__social {
      margin: 0 5px;
      font-size: 10px;
    }
  
    table tr td{
      font-size: 10px;
      padding: 8px;
    }
   
  
  }
  

