@use "variables";
@use "general";
// *,
// *::before,
// *::after {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     outline:none;
//     font-family: "Open Sans", sans-serif;
// }

.sec-container{
    position: relative;
    height:100vh;
    width:100%;
    // padding: 0 8%;
    // background: linear-gradient(rgba(0, 0, 0, .4), transparent), url('../images/bg-img.jpg') center center no-repeat;
     background: linear-gradient(rgba(0, 0, 0, .4), transparent), url('../images/img-coworker19.jpg') center center no-repeat;
    color: variables.$color-white;
    // background: url(/images/bg-img.jpg);
    // background: linear-gradient(rgba(0, 0, 0, 0.4));
    // background-position: center center;
    // background-repeat: no-repeat;
    background-size: cover;
    // background-color: variables.$color-white;


}

// button.btn{
//     padding: 10px 20px;
//     font-size: 1.2rem;
//     font-weight: bold;
//     font-style: italic;
//     margin-top: 0;
//     background-color: transparent;
//     color: #94f7e6;
//     border: 1px solid transparent;
//     transition: border-color .3s;

//     &:hover{
//         border-color: #94f7e6;
    
//     }
    

// }

button.btn{
    color: variables.$color-green;
    font-size: 1rem;
    background-color: variables.$color-white;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: variables.$color-green;
        color: variables.$color-white;

    }

}



#section {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 50px 0;
    // margin: 1rem 0;
    
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.form-wrapper .card {
    // width: 360px;
    width:50%;
    padding: 15px;
    background-color: variables.$color-rgb1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    margin-right:1rem;

}

.card.show{
    visibility: visible;
    opacity: 1;
    // width:32%;

}

.card-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 5px 0;
    font-size: 1rem;
    // color: #94f7e6;
    color: variables.$color-green;
    // box-shadow: 2px 3x 8px #d3f7ff71;
    box-shadow: 2px 3x 8px variables.$color-gray;
    border-radius: 50px;
    padding: 2rem;

}

.card-header .form-header{
    flex: 50%;
    text-align: center;
    padding: 8px 0;
    border: 1px solid transparent;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;

}


.card-header .form-header.active{
    // box-shadow: inset 1px 1px 2px rgb(19 210 177 / 55%),  inset -1px 1px 2px rgb(19 210 177 / 55%), inset -1px -1px 2px rgb(19 210 177 / 55%), inset 1px -1px 2px rgb(19 210 177 / 55%);
    box-shadow: inset 1px 1px 2px variables.$color-rgb2,  inset -1px 1px 2px variables.$color-rgb2, inset -1px -1px 2px variables.$color-rgb2, inset 1px -1px 2px variables.$color-rgb2;
    // border-color: #94f7e6;
    border-color: variables.$color-lighten;
    transition: border-color 0.3s, box-shadow 0.3s;
 


}

.card-body{
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
    // margin: 1rem 0;

}
form {
    flex: 0 0 100%;
    margin: 1rem;

}

.toggleForm {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility 0.3s;
}

// .form {
//     width: 100%;
//     border: none;
//     // border-bottom: 1px solid rgb(134 255 249 /65%);
//     border-bottom: 1px solid variables.$color-rgb3;
//     background: none;
//     outline: none;
//     padding: 10px 5px;
//     margin-bottom: 20px;
//     // color: #fff;
//     color: variables.$color-white;

// }



.form-control::placeholder {
//    color: rgb(134 255 249 /65%);
//    color: variables.$color-rgb3
   color: variables.$color-orange;


}

.formButton{
    border: 1px solid transparent;
    padding: 1rem 3rem;
    // background-color: #94f7e6;
    background-color: variables.$color-lighten;
    border-radius: 50px;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 12px;
    transition: transform .3s, box-shadow .3s;

    &:hover {
        // box-shadow: 3px 5px 15px #94f7e6;
        box-shadow: 3px 5px 15px variables.$color-lighten;
        transform: translateY(-5px);
        color: variables.$color-white;
    }
    
}


.form__input-control{
    margin: 0 3rem 0 1rem;
}

.form__input-control input:focus {
    outline: 0;
    color:variables.$color-blue;
  
    
  }
  
  .form__input-control.success input {
    border-color: variables.$color-green;
  }
  
  
  
  .form__input-control.error input {
    border-color: variables.$color-red;
  }
  
 
  
  
  .form__input-control .errorMessage {
    color: variables.$color-red;
    font-size: 10px;
    height: 15px;
    // margin-left: 1rem;
    margin: 0 auto;
  }

/* ---------------------Media query------------------------------*/



@media screen and (max-width: 767px) {



   #forLogin, #forRegister{
  font-size: 14px;
  padding: 1rem;
  
   }


   .formButton{
    margin-right: 2.5rem;

   }
}



   
    





