$color-blue: #3498db;
$color-green: #00874e;
$color-lighten: lighten($color-green, 15%);
$color-white: #F7F5F7;
$color-red: #D13C31;
$color-orange:  #fc833c;
$color-orange-lighten: lighten($color-orange, 25%);
$color-black: #333333;
$color-footer: #2C3E50;
$color-gray:#2c3e50;
$color-rgb1:rgb(0 0 0 /35%);
$color-rgb2: rgb(19 210 177 / 55%);
$color-rgb3: rgb(134 255 249 /65%);
$pad: 0.5rem 1rem;
$mag: 0.8rem;